.profile-container {
    background-color: #3fb0ac;
    border-radius: 50px;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    height: 300px;
    /* margin-top: 10%; */
}

.profile-content {
    flex-grow: 1;
}

.profile-name {
    font-size: 5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1rem;
}

.profile-description {
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
}

.profile-photo {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
}